# dependencies
/node_modules

# production
/dist

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# testing
coverage/

# misc
*.log
